/* CSS Document */
.sDiv{
position:absolute;
z-index:18;
background:#fff;
border:1px #ccc solid;
}
.sDivTitle{
border-bottom:1px #ccc solid;
height:25px;
color:#fff;
background:url(../../../images2/s_bt.png);
cursor:pointer;
}
.sbackDiv{
position:absolute;
z-index:17;
left:0px;
top:0px;
height:778px;
width:1600px;
background:#C6D8E2;
}
.sDivCloseBtn{
margin-top:2px;
width:24px;
height:21px;
float:right;
background:url(../../../images2/gb.png);
cursor:pointer;
}
.sDivTitleContext{
float:left;
margin-top:7px;
margin-left:5px;
}
.sDivContextMessage{
text-align:center;
}
.sDivMessageImg{
width:35%;
float:left;
text-align:right;
margin-top:15px;
}
.sDivMessageText{
width:63%;
float:right;
text-align:left;
margin-top:35px;
}

.sDivAllMessageText{
width:98%;
float:right;
text-align:left;
/* font-size:12px; */
margin-top:15px;
}

.sDivMessageBut{
text-align:center;
}


