<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- 飞行服务专家管理 -->
	<bean id="planAuditManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.hatc.thyx.service.planaudit.impl.PlanAuditManagerImpl">
				<property name="szkydao" ref="szkydao" />
            	<property name="dao" ref="dao" />
            	<property name="dao1" ref="dao1" />
			</bean>
		</property>
	</bean>
	
	<!-- 飞行计划实施管理 -->
	<bean id="actFlyPlanManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.hatc.thyx.service.actflyplan.impl.ActFlyPlanManagerImpl">
                <property name="dao" ref="dao" />
            </bean>
        </property>
    </bean>
</beans>