/* CSS Document */
/**********************表格共通css*******************/
.inputTableDiv{
/**border:1px red solid;*/
width:700px;
height:100px;
margin-left:15px;
}
.inputTable{
padding:0px;
margin:0px;
border-spacing:0px;
border-collapse:collapse;
caption-side:top;
empty-cells:show;
width:695px;
/**border:1px red solid;*/
}

/**
.radioClass {
border:0px !important;
width:20px !important;
}*/
.inputTable tr{
color:#f0f0f0;
height:30px;
}
.leftTd{
text-align:right;
}
.rightTd{
text-align:left;
}
.meterSpan{
font-size:15px;
}
.selectText{
border:1px #b0adaa solid;
width:140px;
color:#343434;
}
.selectTextTo{
border:1px #b0adaa solid;
width:130px;
color:#343434;
}
.dateSelectText{
border:1px #b0adaa solid;
width:70px;
color:#343434;
}
.timeSelectText{
border:1px #b0adaa solid;
width:65px;
color:#343434;
}
.inputText{
border:1px #b0adaa solid;
width:150px;
color:#3e3e3e;
}
.selectButton{
padding:0px;
margin:0px;
width:10px;
height:19px;
border:0px #ccc solid;
text-align:left;
/**ackground:#15374A;*/
background:url(../../../images2/button_xl2.PNG);
}
/*************一根线******************/
.divLine{
border:1px #ccc solid;
width:680px;
margin-left:15px;
}
/**********************航线列表*******************/
.lineButtonDiv{
margin-top:10px;
width:700px;
text-align:left;
margin-left:15px;
}
.lineTableDiv{
/**border:1px red solid;*/
width:690px;
margin-left:15px;
height:162px;
margin-top:5px;
overflow:auto;
}
.lineTable{
padding:0px;
margin:0px;
border-spacing:0px;
border-collapse:collapse;
caption-side:top;
empty-cells:show;
width:682px;
}
.lineTable td{
height:20px;
border:1px #ccc solid;
}
.lineTableTitle{
background:#212A31;
color:#fff !important;
}
/**********隔行换色************/
.oneTdClass{
color:#3e3e3e;
background:#f5f5f5;
}
.twoTdClass{
color:#3e3e3e;
background:#ffffff;
}
/**********被选中操作的行背景色设置************/
.selectTdClass{
color:#3e3e3e;
background:#A2C6C9;
}
/**********************航线控制按钮*******************/
.LineButton{
width:18px;
height:18px;
padding:0px;
margin:0px;
border:0px ;
font-size:12px;
text-align:center;
cursor:pointer;
}
.TabSecurityButton{
width:65px;
height:18px;
padding:0px;
margin-left:5px;
margin-top:5px;
border:0px ;
font-size:14px;
font-weight:bold;
text-align:center;
cursor:pointer;
}
.mainLineButton{
border:1px #ccc solid;
background:#f4f4f4;
color:#3e3e3e;
}
.prepareLinButton{
background:#868686;
color:#FFFFFF;
}
.changeLineButton{
width:25px;
height:21px;
padding:0px;
margin-left:10px;
border:0px ;
font-size:12px;
text-align:center;
background:url(../../../images2/changeLine.png);
cursor:pointer;
}
.setupLineButton{
width:80px;
height:19px;
padding:0px;
padding-top:1px;
margin-left:10px;
border:0px #ccc solid;
font-size:12px;
text-align:center;
background:url(../../../images2/lin_Button_bg.png);
color:#3e3e3e;
cursor:pointer;
}
.setupLineButton1{
background:url(../../../images2/jyyy.png) !important;
}
.setupLineButton2{
background:url(../../../images2/cyyy.png)!important;
}
.setupLineButton3{
background:url(../../../images2/swcy.png)!important;
}
.setupLineButton4{
background:url(../../../images2/tjbz.png)!important;
}
.setupLineButton5{
background:url(../../../images2/scjh.png) !important;
}
.setupLineButton6{
background:url(../../../images2/ctcx.png)!important;
}
#isMainLine{
color:#fff;
}
.setupLineDiv{
padding-top:2px;
height:18px;
cursor:pointer;
}

/***********************其他信息******************************************/
.textShowBorder {
background:#f0f0f0;
color:#343434;
border:1px #B0ADAA solid;
width:138px;
}

.textNoBorder {
border: 0px;
color:#f0f0f0;
width:140px;
/*background:#2F3551;*/
BACKGROUND: none transparent scroll repeat 0% 0%;
}
.fPlanTextareaShowBorder{
width:605px;
border:1px #b0adaa solid;
height:22px;
background:#fff;
color:#343434;
overflow:auto;
}
.fPlanTextareaNoBorder{
width:605px;
border:1px #b0adaa solid;
height:22px;
BACKGROUND: none transparent scroll repeat 0% 0%;
color:#f0f0f0;
overflow:auto;
}
.fPlanTextareaNoBorder2{
width:605px;
border:1px #b0adaa solid;
height:100px;
BACKGROUND: none transparent scroll repeat 0% 0%;
color:#f0f0f0;
overflow:auto;
}
.fPlanTextareaNoBorder3{
width:605px;
border:0px #b0adaa solid;
height:22px;
BACKGROUND: none transparent scroll repeat 0% 0%;
color:#f0f0f0;
overflow:auto;
}
.inputTableTo tr{
color:#f0f0f0;
height:22px;
}
.securityTableDiv{
width:690px;
margin-left:15px;
height:140px;
margin-top:5px;
overflow:auto;
}
.securityButtonDiv{
margin-left:5px;
text-align:left;
}